.adminmainbody{
    height: 100%;
    padding: 0px 100px;
    overflow-y: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.itemcard{
    text-decoration: none;
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    gap: 20px;
    align-items: center;
    height: 50px;
}
.redcard{
    background-color: darkturquoise;
}
.itemcard:hover{
    background-color: skyblue;
}

.itemvalue{
    font-size: 20px;
    color: white;
    font-weight: bold;
}