.litopbar {
  padding: 10px;
  color: white;
  background-color: var(--colorbtnprime);
}

table {
  width: 100%;
  text-align: start;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

th {
  padding: 5px;
}

.bookcover {
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 5px;
}

.bookgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.bookcard{
    display: flex;
    flex-direction: column;
}

.editbtn {
  width: min-content;
  text-decoration: none;
  background-color: royalblue;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.deletebtn {
  background-color: red;
}

.mainform {
  width: 600px;
}
.bookdtlform {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputsec {
  display: flex;
  justify-content: space-between;
}

.lblfrm {
  width: 30%;
}

.txtbox {
  width: 100%;
  height: 30px;
  padding-left: 10px;
}

.descbox {
  width: 100%;
  padding: 10px;
}

.addbookbtn {
  width: 100%;
  background-color: var(--colorbtnprime);
  height: 30px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.addbookbtn:hover {
  background-color: var(--colorbtnprimehover);
}

.book-cat-list {
  width: 45%;
  padding: 20px;
  overflow-y: auto;
}

.add-book-cat {
  width: 55%;
  padding: 20px;
  display: flex;
}

.addcatform {
  border: 1px solid black;
  padding: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
