.mainbody-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:40px;
}

.logo-topleft {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.landing-text {
    background: linear-gradient(90deg ,#ff1f1f, #2a2aff);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    flex-direction: column;
}
