.mainbody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topbackbtn {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #2a2aff;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.topbackbtn:hover{
    gap: 20px;
}

form {
    padding: 20px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.219);
}

.formheading{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.formcontrols {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
}

.formcontrols label {
    font-size: 15px;
}

.inputfield {
    border: none;
    outline: none;
    height: 35px;
    font-size: 15px;
    /* background-color: #E1E1E1; */
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom: 2px solid gray;
    transition: all 0.3s ease;
}

.inputfield:focus {
    border-bottom: 2px solid var(--colorbtnprime);
    /* background-color: #ceecff; */
}

.centertext{
    text-align: center;
}

.loginbtn {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--colorbtnprime);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.loginbtn:hover {
    background-color: var(--colorbtnprimehover);
}

.loginbtn:active{
    transform: translateY(5px);
}

.linkbtn {
    font-weight: 600;
}