* {
  margin: 0;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

.mainbody {
  height: 100%;
  overflow-y: auto;
}

.primarybtn{
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #352af4;
  color:white;
  font-weight: 500;
  transition: border-radius 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primarybtn:hover {
  background-color: rgb(1, 59, 131);
  border-radius: 15px;
}

.primarybtn:active{
  transform: translateY(5px);
}

.secbtn{
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #352af4;
  color:#352af4;
  font-weight: 500;
  transition: border-radius 0.3s ease;
}

.secbtn:hover {
  border: 1px solid rgb(1, 59, 131);
  color: rgb(1, 59, 131);
  border-radius: 15px;
}

.secbtn:active{
  transform: translateY(5px);
}
