:root {
  --colorbtnprime: #2a2aff;
  --colorbtnprimehover: rgb(2, 32, 122);
  --colorbtnsec: rgb(255, 136, 0);
  --colorbtnsechover: rgb(255, 184, 103);
  --logocolor: #2a2aff;

  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
}

@media (prefers-color-scheme: dark){
  :root{
    background-color: #1f1f1f;
    color: white;
  }
  a {
    color: white;
  }
}
